body{
	/* background: radial-gradient(circle, black, white); */
	background-image: url("../img/concrete_seamless.png");
	margin-bottom: 80px;
}

.welcomeImg{
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	box-shadow: 5px 5px 15px black;
}

.navbar{
/* 	margin: 10px; */
/* background-color: white; */
border-radius: 0px;	
border-bottom: solid;	
/* border-bottom: black; */

}

#loginButton{
	color: #329d27;
	
}

#signUpButton{
		color: #329d27;
} 

#loginButton:hover{
	color: #14d100;
	font-weight: bold;
}

#signUpButton:hover{
		color: #14d100;
		font-weight: bold;
}
.footerText{
	text-align: center;
	margin: 40px;
	color: #14d100;
}

.form-group{
	margin: 20px;
	}

#firstName{
	width: 50%;
	min-width: 250px;
}

#lastName{
	width: 50%;
	min-width: 250px;
}

#email{
	width: 50%;
	min-width: 250px;
}

#password{
	width: 50%;
	min-width: 250px;
}

#confirmPassword{
	width: 50%;
	min-width: 250px;
}
.btn-default{
	margin: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}