.welcomeImg{
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	box-shadow: 5px 5px 15px black;
}



#loginButton{
	color: red;
}

#signUpButton{
		color: red;
} 

#loginButton:hover{
	color: blue;
}

#signUpButton:hover{
		color: blue;
} 

.footerText{
	text-align: center;
	margin: 40px;
}

.form-group{
	margin: 20px;
	}

#firstName{
	width: 50%;
	min-width: 250px;
}

#lastName{
	width: 50%;
	min-width: 250px;
}

#email{
	width: 50%;
	min-width: 250px;
}

#password{
	width: 50%;
	min-width: 250px;
}

#confirmPassword{
	width: 50%;
	min-width: 250px;
}
.btn-default{
	margin: 20px;
}