.nav navbar-nav > a{
	text-align: right;
	
}

.welcomeImg{
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	box-shadow: 5px 5px 15px black;
}

.footerText{
	text-align: center;
	margin: 40px;
}

.form-group{
	margin: 20px;
	}
	
.lg-12{
	display: inline-block;
}	
#firstName{
	width: 30%;
}

#lastName{
	width: 30%;
}

#email{
	width: 30%;
}

#password{
	width: 30%;
}

#confirmPassword{
	width: 30%;
}
.btn > btn-default{
	margin: 20px;
}