/* #dashSidebar{
	border: 1px solid black;
	margin-left: 2px;
	
} */
/* .concreteImage{
	background-image: url("../img/concrete_seamless.png");
	
} */
body {
	/* background: radial-gradient(circle, black, white); */
	background-image: url("../img/concrete_seamless.png"); 	
}

.assignments{
	/* position: relative;
	left: 120px; */

}
.sidebar-nav{
	/* margin-right: 5px; */
/* 	background-color: white;
	opacity: 0.2; */
	height: 1500px;
	
	
		
}

.navbar{
/* border-color: white; */

 	/* 	margin: 10px;
background-color: white; */
border-radius: 0px;	
border-bottom: solid;
/* border-color: black; */ 
}

.studentRoster{ 
/* 	display: block; */
	/* position: relative;
  	left: 180px;  */
}

.link{
/* 	color: #14d100; */	
	color: #329d27;
}
.link:hover{
/* 	color: #0d8800; */
	color: #14d100;
}


#logout:hover{
	color: #14d100;
	font-weight: bold;
}
#logout{
	color: #329d27;
	
	
}

#loginButton{
	color: #329d27;
	font-weight: bold;
}

#signUpButton{
		color: #329d27;
} 

#loginButton:hover{
	color: #14d100;
	font-weight: bold;
}

#signUpButton:hover{
		color: #14d100;
		font-weight: bold;
} 

.sidebar-div{
	/* position: fixed; */
/* 	border-top: 1px solid black; */
	border-right: 1px solid black;
	/* border-bottom: 1px solid black; */
	max-width: 200px;
	/* margin-left: 2px; */
	
}

#firstName{
	max-width: 50%;
	min-width: 250px;
}


.footerText{
	text-align: center;
	margin: 40px;
	color: #14d100;
	
}

#courseName{
	max-width: 50%;
	min-width: 250px;
}

#subject{
	max-width: 50%;
	min-width: 250px;
}

#courseCapacity{
	max-width: 50%;
	min-width: 250px;
}

#courseDescription{
	max-width: 50%;
	min-width: 250px;
}

#courseDifficulty{
	max-width: 50%;
	margin-right: 10px;
	padding-right: 20px;
	min-width: 250px;
	
}

#courseFee{
	max-width: 50%;
	min-width: 250px;
}

#startDate{
	max-width: 50%;
	min-width: 250px;
}

#endDate{
	max-width: 50%;
	min-width: 250px;
}

#lessonName{
	max-width: 50%;
	min-width: 250px;
}

#lessonDescription{
	max-width: 50%;
	min-width: 250px;
	min-height: 500px;
}

#assignmentName{
	max-width: 50%;
	min-width: 250px;
}

#assignmentDescription{
	max-width: 50%;
	min-width: 250px;
}

#assignmentMaxScore{
	max-width: 50%;
	min-width: 250px;
}

#assignDate{
	max-width: 50%;
	min-width: 250px;
}

#dueDate{
	max-width: 50%;
	min-width: 250px;
}

#moduleName{
	max-width: 50%;
	min-width: 250px;
}

#moduleDescription{
	max-width: 50%;
	min-width: 250px;
}

#resourceTitle{
	max-width: 50%;
	min-width: 250px;
}

#resourceDescription{
	max-width: 50%;
	min-width: 250px;
}

#resourceUrl{
	max-width: 50%;
	min-width: 250px;
}

/* 
#addLessonLink{
	color: red;
}
#backToCourseLink{
	color: red;
}

#addAssignmentLink{
	color: red;
	
}
#addResourceLink{
	color: red;
}

#viewStudentRosterLink{
	color: red;
}
#addModuleLink{
	color: red;
}

#backToCourseLink{
	color: red;
}

#backToModuleLink{
	color: red;
	
}
#detailPageLink{
	color: red;
}

#currentProgressLink{
	color: red;
}

#dashboardLink{
	color: red;
	
}

#courseCatalogLink{
	color: red;
} */